div{
    width: 900px;
    height: 600px;
    background-color: #ce1126;
}

div p{
    color: white;
    font-size: 90px;
    text-align: center;
}

div div{
    width: 900px;
    height: 250px;
    background-color: #002868;
    position: absolute;
}

div div div p{
    color: black;
    font-size: 70px;
    margin-top: 10px;
}

div div div{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-left: 350px;
    margin-top: 30px;
}
